*{
	box-sizing: border-box;
}

body{
	background: #fff url(../img/bg.png) no-repeat center;
	background-size: cover;
	font-family: "IUIRegular", sans-serif;
}

.container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;	
}

.header_nav_items{
list-style: none;
}

.header_nav_item a{
text-decoration: none;
color: #fff;
}

.main_title{
color: #ffffff;
font-size: 50px;
font-family: "Poppins", sans-serif;
font-weight: 400;
line-height: 60px;
}

.main_text{
color: #ffffff;
font-family: "IUIBold", sans-serif;
font-size: 18px;
line-height: 36px;
}

.main_button{
background-color: white;
border: none;
color: #37474f;
font-family: "IUIMedium", sans-serif;
font-size: 20px;
line-height: 40px;
padding: 10px 20px;
border-radius: 15px 1px 15px 15px;
}

.main_button_img{
	padding-left: 20px;
}

.header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header_nav_items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.header_nav_item{
	padding-left: 10px;
	padding-right: 10px;
}

.main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: center;
}

.real-estate {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 20px;

}

.real-estate_block {
	width: 49%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	-ms-align-items: left;
	align-items: left;
	padding: 10px;
	padding-bottom: 30px;
	background-color: #ffffff;
	border-radius: 15px;
	margin-bottom: 2%;
}

.real-estate_block_img img{
	padding-top: 10px;
	width: 100px;
	height: 100px;
}

.real-estate_block_img_text {
	opacity: 0.2;
	color: #cfd8dc;
	font-family: "IUIBlack", sans-serif;
	font-size: 120px;
	line-height: 36px;
	padding-left: 10px;
}

.real-estate_title {
	color: #546e7a;
	font-family: "IUIMedium", sans-serif;
	font-size: 24px;
	line-height: 35.94px;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
}

.real-estate_text {
	color: #263238;
	font-size: 18px;
	line-height: 40px;
	font-family: "IUIMedium", sans-serif;
}
