body {
	margin: 0;
}

h1 {
	margin: 0;
}

.header {
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.header_info {
	display: flex;
}

.call_order {
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-left: 50px;
}

.header_button {
	color: #fff;
	width: 180px;
	height: 40px;
	box-shadow: 0 5px 10px rgba(0, 1, 3, 0.17);
	border-radius: 5px;
	background-color: #368c02;
	background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
	
}

.main_title {
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	font-family: "PT Sans";
	margin-top: 70px;
}

.title_text1 {
	background-color: #3ea401;
	font-size: 50px;
	padding: 0 15px;
}

.title_text2 {
	background-color: #3ea401;
	font-size: 45px;
	padding: 0 15px;
}

.navbar {
	background-color: #3da001;
	display: flex;
	justify-content: space-around;
	height: 40px;
	align-items: center;
}

.nav a{
	color: #fff;
	font-size: 18px;
}

.main {
	background: url("images/bg.png") no-repeat;
	background-size: cover;
	height: 100vh;
}

.main_title {
	text-align: center;
}